/* Estilos del encabezado */
.hero-section {
  background: linear-gradient(rgba(38, 70, 83, 0.8), rgba(38, 70, 83, 0.8)),
    url("../img/aves/montañerito-apisa.webp");
  background-size: cover;
  background-position: center;
  color: #eeeeee;
  padding: 100px 0;
  margin-bottom: 30px;
}

/* Estilos para eventos */
.event-card {
  border-left: 4px solid var(--accent-color);
  border: none;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--card-bg-color);
  color: var(--text-color);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.event-date {
  font-size: 1rem;
  font-weight: bold;
}

.event-card .card-text i {
  font-size: 1.3rem;
  color: var(--accent-color);
}

.dark-mode {
  .event-card {
    border-left: 4px solid var(--highlight-color);

    .card-text i {
      color: var(--highlight-color);
    }
  }

  .badge-secondary {
    background-color: var(--secondary-color);
  }
}
